.header {
    background: #ffffff;
    .top-header {
        padding: 25px 0;
    }
}
.subnav {
    border-bottom: 1px dotted #333333;
    padding-bottom: 10px;
    float: right;
    font-size: 11px;
    max-width: 310px;
    ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 14px;
            position: relative;
            a {
                color: #333333;
                font-size: 12px;
                text-transform: uppercase;
                &:hover {
                    color: #0096d9;
                }
            }
        }
    }
}
.subnav > ul > li:first-child:after {
    border: 0;
}
.subnav > ul > li:after {
    border-left: 1px solid #333333;
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top: 5px;
    left: 0;
    height: 8px;
}
.header-line {
    color: #333333;
    font-size: 12px;
    padding-top: 7px;
    clear: right;
    text-align: right;
    span {
        color: #0096d9;
        margin-left: 5px;
    }
}
.cart-info {
    display: inline-block;
    position: relative;
    float: right;
    display: inline-block;
    width: 65px;
    height: 65px;
    padding: 4px;
    margin-left: 25px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    border: 1px solid #ebebeb;
    .cart-link {
        width: 55px;
        height: 55px;
        display: block;
        background: #fff url(http://hstatic.net/333/1000150333/1000203368/cart-icon.png?v=19)center center;
        background-size: 55px 55px;
    }
    .cart-number {
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: block;
        position: absolute;
        background: #0096d9;
        color: #ffffff;
        top: 11px;
        right: -9px;
        text-align: center;
        font-size: 12px;
    }
}
.header {
    .menu {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        border-radius: 0;
        border-left: none;
        border-right: none;
        .navbar {
            padding: 0;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #4d4d4d;
            line-height: 20px;
            position: relative;
            display: block;
            padding: 15px;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 14px;
        }
    }
}
.search-bar {
    position: relative;
    margin-top: 5px;
    display: inline-block;
}
.search-bar form input {
    margin-bottom: 0;
    padding-right: 30px;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 12px;
    height: 37px;
    margin-bottom: 15px;
    color: #737373;
    font-size: 12px;
    background: #ebebeb;
    outline: 0;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 270px;
}
.search-bar form i {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 16px;
    color: #757575;
    cursor: pointer;
}
