#layout-page .header-page h1 {
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 30px 0 20px 0px;
    text-align: center;
}
.userbox {
    max-width: 100%;
    width: 335px;
    padding: 15px;
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 20px;
}
.icon-field {
    display: inline-block !important;
    background-color: #ebebeb !important;
    color: white;
    border: solid 1px #ebebeb;
    text-align: center;
    height: 37px;
    vertical-align: middle;
    line-height: 33px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 2px;
    float: left;
}
.icon-login {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
.userbox input[type=email], .userbox input[type=password], .userbox input[type=text] {
    max-width: calc(100% - 30px)!important;
    width: 270px !important;
    height: 37px;
    display: inline-block !important;
    background-color: #fff;
    border: solid 1px #ebebeb;
    margin-left: -5px;
    margin-top: 10px;
    float: left;
    padding-left: 10px;
    outline: none;
    margin-bottom: 0px !important;
}
.action_bottom .btn {
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 35px;
    background: #0096d9;
    text-align: center;
    border: none;
    margin-top: 15px;
}
.req_pass {
    margin-top: 10px;
}
.req_pass a {
    color: #333333;
    text-decoration: none;
    &:hover {
        color: #0096d9;
    }
}
